@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Agenda - Sala de Reuniões</h1>
        <p>
            Agende o seu evento!
        </p>
    </div>
</div>

